<meta name="viewport" content="width=device-width,minimum-scale=1.0,initial-scale=1,user-scalable=yes">
<meta name="google-adsense-account" content="ca-pub-1472527144165696">
<link rel="shortcut icon" href="https://i.imgur.com/HREdLU9.png">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Righteous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bare-css">
<link rel="stylesheet" href="https://unpkg.com/icon-batch/Webfont/index.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/easy-autocomplete/1.3.5/easy-autocomplete.min.css">
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ZE2FC6CNMX"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-ZE2FC6CNMX');
</script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/easy-autocomplete/1.3.5/jquery.easy-autocomplete.min.js"></script>
{% if page.require contains "treetable" %}
<script src="https://cdn.jsdelivr.net/npm/jquery-treetable/jquery.treetable.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jquery-treetable/css/jquery.treetable.css">
{% endif %}
{% if page.require contains "datatables" %}
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/fixedheader/3.1.3/js/dataTables.fixedHeader.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/fixedheader/3.1.3/css/fixedHeader.dataTables.min.css">
{% endif %}
{% if page.require contains "highcharts" %}
<script src="https://code.highcharts.com/8.0/highcharts.js"></script>
<script src="https://code.highcharts.com/8.0/highcharts-more.js"></script>
<script src="https://code.highcharts.com/8.0/modules/annotations.js"></script>
<script src="https://code.highcharts.com/8.0/modules/exporting.js"></script>
{% endif %}
{% if page.require contains "izitoast" %}
<script src="https://cdn.jsdelivr.net/npm/izitoast/dist/js/iziToast.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/izitoast/dist/css/iziToast.min.css">
{% endif %}
{% if page.require contains "corpus" %}
<script src="https://unpkg.com/ifct2017/corpus.min.js"></script>
{% endif %}
{% if page.script!=null %}
<script src="/main.js"></script>
<script src="{{ page.script }}"></script>
{% endif %}
<link rel="stylesheet" href="/index.css">
{% if page.class contains "index" %}
<title>Indian Food Composition</title>
{% else %}
<title>{{ page.title }} | Indian Food Composition</title>
{% endif %}
